apiVersion: v1
kind: Service
metadata:
  name: pod-report
  namespace: homepage
spec:
  type: NodePort
  selector:
    app: pod-report
  ports:
    - name: http
      port: 80
      targetPort: http
      nodePort: 32081
