---
title: cooked.beer
theme: dark
color: violet
headerStyle: boxedWidgets
hideVersion: true
useEqualHeights: true
statusStyle: "dot"

background:
  image: /assets/998981.jpg
  opacity: 38
  blur: none
  saturate: 130
  brightness: 108
cardBlur: md

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true
  showSearchSuggestions: true
  mobileButtonPosition: bottom-right

layout:
  Media:
    style: row
    columns: 3
  Security:
    style: row
    columns: 3
  Cluster:
    style: row
    columns: 3
