apiVersion: v1
kind: ConfigMap
metadata:
  name: tailscale-serve-config
  namespace: tailscale
data:
  serve.json: |
    {
      "TCP": {
        "443": {
          "HTTPS": true
        }
      },
      "Web": {
        "${TS_CERT_DOMAIN}:443": {
          "Handlers": {
            "/": {
              "Proxy": "http://jellyfin.media.svc.cluster.local:8096"
            }
          }
        }
      },
      "AllowFunnel": {
        "${TS_CERT_DOMAIN}:443": true
      }
    }
