apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale-wow
  namespace: tailscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale-wow
  template:
    metadata:
      labels:
        app: tailscale-wow
    spec:
      serviceAccountName: tailscale
      containers:
        - name: tailscale
          image: tailscale/tailscale:latest
          imagePullPolicy: Always
          env:
            - name: TS_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: tailscale-auth
                  key: TS_AUTHKEY
            - name: TS_KUBE_SECRET
              value: tailscale-state-wow
            - name: TS_HOSTNAME
              value: wow
            - name: TS_USERSPACE
              value: "true"
            - name: TS_STATE_DIR
              value: /var/lib/tailscale
            - name: TS_SERVE_CONFIG
              value: /config/serve.json
          volumeMounts:
            - name: serve-config
              mountPath: /config
              readOnly: true
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
            runAsUser: 1000
            seccompProfile:
              type: RuntimeDefault
      volumes:
        - name: serve-config
          configMap:
            name: tailscale-serve-config-wow
